body {
  background: linear-gradient(to bottom, #87CEFA, #1E90FF);
  font-family: 'Gungsuh', '궁서', serif;
  font-weight: bold;
  color: navy;
  margin: 0;
  padding: 60px;
  text-align: center;
}
h1 {
  font-size: 70rem; 
  color: #FFCA1A;
}

p {
  font-size: 30rem; /* 약간 큰 본문 글씨 */
  color: #FF0000;    /* 아주 연한 파란빛 흰색 */
}
